.background {
  background: linear-gradient(
    -48deg,
    #dad7d7,
    rgb(228, 201, 201),
    white,
    rgba(233, 64, 87, 0.141)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
